@font-face {
    font-family: 'Hey Comic';
    src: url("../font/Hey\ Comic.ttf");
}

body {
    min-height: 100vh;
    background-image: url("../img/blob-scene-haikei.svg");
    background-size: cover;
    color: white;
    font-family: 'Hey Comic', sans-serif;
    background-repeat: no-repeat;
  
}

.container{
    text-align: center;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.box{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: rgba(0,73,91,255);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    transition: backbround-color 0.8s, color 0.8s, transform 0.8s;
}

.box-clicked{
    background-color: #ccc;
    color: #aaa;
    transform: scale(0.8);
}

.box.error{     color: rgb(144, 58, 58); background-color: rgb(255, 160, 190);}
.box.success{   color: rgb(11, 138, 22); background-color: rgb(172, 251, 172);}
.box.notice{    color: rgb(18, 16, 151); background-color: rgb(184, 217, 255); cursor: not-allowed;}

@keyframes appear {
    from {
        transform: scale(0) rotate(180deg);
    }
    to {
        transform: scale(1) rotate(0deg);
    }
}

.Button{
    width: 10%;
    height: 40px;
    background-color: rgba(91,174,43,255);
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    font-family: 'Hey Comic', sans-serif;
    color: white;
}

.Button:hover{
    background-color: rgba(52,164,59,255);
    transform: scale(1.1);
    transition: 100ms;
}

.box:hover {
    transform: scale(1.1);
    transition: 100ms;
}